.location-image-wrapper {
    text-align: center;
}



@media (min-width: 320px) {
    .location-image {
        height: 210px;
        width: 266px;
    }
}

@media (min-width: 992px) {
    .location-image {
        height: 400px;
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .location-image {
        width: 500px;
    }
}  

@media (min-width: 1400px) {
    .location-image {
        height: 303px;
        width: 651px;
    }
      
    .location-wrapper {
        display: flex;
    }
    .location-image-wrapper{
        flex-grow: 2;
    }
}


@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}