.location-image-wrapper {
    text-align: center;
}

.location-clue-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 24px;
    opacity: 0;
    top: 236px;
    right: 150px;
    transition: opacity 1s ease;
    height: 200px;
    width: 200px;
    color: black;
    background-color: white;
}

.popup-icon {
    margin: auto;
}

.popup-show {
    opacity: 1;
}


@media (min-width: 320px) {
    .location-image {
        height: 210px;
        width: 266px;
    }
}

@media (min-width: 992px) {
    .location-image {
        height: 400px;
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .location-image {
        width: 500px;
    }
    .popup-icon {
        width: 100px;
        height: 100px;
    }
}  

@media (min-width: 1400px) {
    .location-image {
        height: 303px;
        width: 651px;
    }
      
    .location-wrapper {
        display: flex;
    }
    .location-image-wrapper{
        flex-grow: 2;
    }
}


@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}