.location-image-wrapper {
    text-align: center;
}



@media (min-width: 320px) {
    .location-image {
        max-height: 100px;
        max-width: 200px;
    }
}

@media (min-width: 992px) {
    .location-image {
        max-height: 400px;
        max-width: 400px;
    }
}
@media (min-width: 1200px) {
    .location-image {
        max-width: 1000px;
    }
}  

@media (min-width: 1400px) {
    .location-image {
        max-height: 500px;
    }
      
    .location-wrapper {
        display: flex;
    }
    .location-image-wrapper{
        flex-grow: 2;
    }
}

svg {
    pointer-events: none;
}

path{
    pointer-events: auto;
}
 