@import './Location/Location';

.location-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax($height, auto);
    gap: 10px;
    grid-gap: 10px;
    a {
      transition-property: font-size;
      transition-timing-function: ease-in;
      transition-duration: 0.2s;
    }
    a:hover {
        font-size: 1.5em;
      }
}

.location-card {
    background-color: #FFF;
    border: 1px solid black;
    height: 282px;
    font-family: "Reenie Beanie";
    text-align: center;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.location-card:hover {
    box-shadow: 8px 8px 0px black;
    
}

// @media (min-width: 375px) {
//     .location-grid {
//         display: grid;
//         grid-template-columns: repeat(1, 1fr);
//         grid-auto-rows: minmax(282px, auto);
//         grid-gap: 100px;
//         gap: 10px;
//     }
// }

.location-carousel-wrapper {
    overflow: hidden;
    width: 90%;

}
.location-carousel-wrapper *{
    box-sizing: border-box;


}

.location-carousel {
    transform-style: preserve-3d;
}

.location-carousel-card {
    border: 1px solid black;
    height: 150px;
    font-family: "Reenie Beanie";
    text-align: center;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    position: relative;
  z-index: 900;
}


.location-card-image {
    max-height: 64%;
}

// Breakpoints

@media (min-width: 374px) {
    .location-grid {
       
        grid-template-columns: repeat(1, 1fr);
      
    }

    .location-card-image {
        max-height: 200px;
    }

    
}

@media (min-width: 374px) {
    .location-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax($height, auto);
        gap: 10px;
        grid-gap: 10px;
        a {
          transition-property: font-size;
          transition-timing-function: ease-in;
          transition-duration: 0.5s;
        }
        a:hover {
            font-size: 1.5em;
          }
    }

    .location-card-image {
        max-height: 70vh;
    }
}
@media (min-width: 374px) {
    .location-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px, auto);
        gap: 10px;
        grid-gap: 10px;
        a {
          transition-property: font-size;
          transition-timing-function: ease-in;
          transition-duration: 0.5s;
        }
        a:hover {
            font-size: 1.5em;
          }
    }

    .location-card-image {
        max-height: 200px;
    }
}
@media (min-width: 768px) {
    .location-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax($height, auto);
        gap: 10px;
        grid-gap: 10px;

        a {
          transition-property: font-size;
          transition-timing-function: ease-in;
          transition-duration: 0.5s;
        }
        a:hover {
            font-size: 1.5em;
          }
    }

    .location-card-image {
        max-height: 70vh;
    }
}
@media (min-width: 1200px) {
    
    .location-grid {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax($height, auto);
        gap: 10px;
        grid-gap: 10px;

        a {
          transition-property: font-size;
          transition-timing-function: ease-in;
          transition-duration: 0.3s;
        }

        a:hover {
            font-size: 1.5em;
        }
    }

    .location-card-image {
        max-height: 168px;
    }
}