.clue-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    gap: 10px;
}

.clue {
	margin: auto;
	text-align: center;
}

@media (max-width: 1199px) {
	.clue-icon {
		height: 200px;
		width: 200px;
	}
	.clue-grid {
		grid-template-columns: repeat(1, 1fr);

	}
}

@media (min-width: 1200px) {
	.clue-icon {
		height: 200px;
		width: 200px;
	}
}