$height: 282px;

.character {
   border: 1px solid black;
    font-family: "Reenie Beanie";
    border-radius: 4px;
    text-align: center;
    height: $height;
    background-color: white;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    box-shadow: 4px 4px 0px 2px rgba(0,0,0,0);
}

.character:hover {
    box-shadow: 4px 4px 0px 2px rgba(0,0,0,1);
   
}

.character-profile-icon {
    height: 150px;
    margin: auto;
}

.check {
    color:green;
}

.cross {
    color: red;
}

.character-icon {
    margin: 0 4px;
    cursor: pointer;
}

.character-profile-wrapper {
    display: flex;
    justify-content: center;
    // border: 1px solid black;
    // border-radius: 4px;
    width: 50%;
    margin: auto;
    background-color: white;

}

.character-profile {

    max-width: 300px;
    padding: 24px;
    margin: auto;
    border-radius: 4px;
}

@media (max-width: 1119px) {
    .character-profile-wrapper {
        display: block;
        text-align: center;
        width: 100%;
        img {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
    
}