$height: 282px;

.character {
    border: 1px solid black;
    font-family: "Reenie Beanie";
    border-radius: 4px;
    text-align: center;
    height: $height;
    background-color: white;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    box-shadow: 4px 4px 0px 2px rgba(0,0,0,0);
    
}

.character:hover {
    box-shadow: 4px 4px 0px 2px rgba(0,0,0,1);
   
}

.check {
    color:green;
}

.cross {
    color: red;
}

.character-icon {
    margin: 0 4px;
    cursor: pointer;
}

.character-profile-wrapper {
    display: flex;
    justify-content: center;
}

.character-profile {
    border: 1px solid black;
    max-width: 300px;
    padding: 24px;
    margin: 0 1rem;
    border-radius: 4px;
}
