$height: 282px;

.character {
    border: 1px solid black;
    font-family: "Reenie Beanie";
    border-radius: 4px;
    text-align: center;
    height: $height;
    background-color: white;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-duration: 0.5s;
    box-shadow: 4px 4px 0px 2px rgba(0,0,0,0);
    
}

.character:hover {
    box-shadow: 4px 4px 0px 2px rgba(0,0,0,1);
    // animation: doY 2s ease-in 2s;
}

.check {
    color:green;
}

.cross {
    color: red;
}

.character-icon {
    margin: 0 4px;
    cursor: pointer;
}

.character-profile-wrapper {
    display: flex;
}

.character-profile {
    border: 1px solid black;
    max-width: 300px;
    padding: 24px;
    margin: 0 1rem;
    border-radius: 4px;
}
// @-webkit-keyframes doY {
//     0% { translateY: 100%;}
//     100% { translateY: 0}
//   }
  
//   @keyframes doY {
//     0% { translateY: 100%; }
//     100% { translateY: 0 ; }
//   }