@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.crime-wrapper {
    justify-content: center;
    // border: none;
    border-radius: 4px;
    font-family: 'Indie Flower', cursive;
    border-bottom: 1px solid white;
}

.action, .crime-info {
    color: white;
}
.crime-info {
    border: none;
    text-align: center;
}

.crime-info {
    border-radius: 16px;
}
.crime-avatar, .crime-icon, .crime-info {
    margin: auto;
}

.crime-info, .crime-actions, .crime-wrapper, .action {
    display: flex;
}
.crime-info, .action {
    flex-direction: column;
}

.action {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 4px 3px white;
    transition: box-shadow 0.2s;
}

.action:hover {
    box-shadow: 0px 0px 22px 3px white;
}

@media (max-width: 769px) {

    .crime-wrapper, .action, .crime-info {
        flex-direction: column;
    }
    
    .crime-avatar {
        margin-top: 12px;
    }
    .crime-icon {
        height: 100px;
        width: 100px;
    }

    .crime-info {
        height: 250px;
        width: 288px;
        margin-bottom: 16px;
    }
    .crime-actions {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .crime-avatar, .crime-icon {
        height: 100px;
        width: 100px;
    }
    .crime-wrapper, .crime-actions {
        font-size: 1.5em;
    }
    .crime-info {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    .crime-actions {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;

        .action {
            padding: 24px;
            height: 200px;
            text-align: center;
            width: 200px;
            margin: auto;
        }
    }
}

.underline {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.0);
    transition-property: border-bottom;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.underline:hover {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
}
