@import './Dots/Dots';
@import './BackArrow/BackArrow';
@import './Card/Card';
@import './Footer/Footer';
@import './Modal/Modal.scss';
@import './Navbar/Navbar';

.carousel-button {
    border: none;
    background-color: transparent;
    color: white;
    // position: absolute;
    top: 50%;
    height: 1em;
    width: 1em;
    font-size: 2em;
    transition-property: border-bottom;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}



@media (min-width: 1200px) {
    .carousel-button {
        display: none;
    }
}

