@import './Dots/Dots';

.carousel-button {
    border: 1px solid rgba($color: #000000, $alpha: 0.0);
    background-color: white;
    // position: absolute;
    top: 50%;
    height: 1em;
    width: 1em;
    font-size: 2em;
    transition-property: border-bottom;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.carousel-button:active {
    border-bottom: 1px solid black;
}

@media (min-width: 1200px) {
    .carousel-button {
        display: none;
    }
}

