@import './Character/Character';

.character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax($height, auto);
    gap: 10px;

    a {
        color: black;
        text-decoration: none;
        transition-property: font-size;
        transition-duration: 0.2s;
    }
    a:hover {
      font-size: 1.5em;
    }
}

.character-icon {
  max-height: 150px;
}
.carousel-item {
  display: none;
}

@media (min-width: 280px) {
  .character-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 320px) {
    .character-list {
        display: none;
       
    
    }
  } 
  @media (min-width: 576px) {
    .character-list {
        display: none;
    }
  }
  
  @media (min-width: 768px) {
    .character-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax($height, auto);
        gap: 10px;
    
    }
    
  }
  @media (min-width: 1200px) {
    .carousel {
      display: none;
    }
    .character-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax($height, auto);
        gap: 10px;
    
    }
  }