@import './Character/Character';

.character-list {
    display: grid;
    // border-top: 1px solid;
    // border-bottom: 1px solid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax($height, auto);
    gap: 10px;

    a {
        color: black;
        text-decoration: none;
        transition-property: font-size;
        transition-duration: 0.2s;
    }
    a:hover {
      font-size: 1.5em;
    }
}

.character-icon {
  width: 105px;
  height: 150px;
}
.carousel-item {
  .character, .location-card {
    transform: translateX(900px);
    height: 0;
    overflow: hidden;
  }
}

.active-item {
  .character, .location-card {
    transform: translateX(0px);
    transition: transform 0.5s ease;
    height: 300px;

  }
}

.carousel-item-x {
  .character, .location-card {
    transform: translateX(-900px);
    height: 0;
    overflow: hidden;
  }
}

.active-item-x {
  .character, .location-card {
    transform: translateX(0px);
    transition: transform 0.5s ease;
    height: 300px;

  }
}


.carousel {
  width: 100vw;
  overflow: hidden;
  a {
    width: 100%;
  }
}
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media (min-width: 320px) {
//     .character-list {
//         display: none;
//     }
//   } 
//   @media (min-width: 576px) {
//     .character-list {
//         display: none;
//     }
//   }
  
  // @media (min-width: 768px) {
  //   .character-list {
  //       display: grid;
  //       grid-template-columns: repeat(3, 1fr);
  //       grid-auto-rows: minmax($height, auto);
  //       gap: 10px;
    
  //   }
    
  // }

@media (min-width: 769px) {
  
      .character-icon {
          height: 400px;
      }
}

@media (max-width: 1119px) {
  .character-list {
    display: none;
  }
}  
@media (min-width: 1200px) {
  .carousel {
    display: none;
  }

  .character-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax($height, auto);
      gap: 10px;
  
   }
   .character-icon {
    height: 200px;
}
}

.initial {
  display: block;
}