.modal {
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	display: none;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 4px;
	bottom: 0;
}
.modal-show {
	display: flex;
	justify-content: center;
}

.modal-content {
	animation: comeIn 0.5s;
	background-color: white;
	color: #000;
	height: 700px;
	width: 815px;
	border-radius: 4px;
	margin: auto;
}

.modal-character {
	text-align: center;
}

.modal-icon {
	height: 100px;
}

.modal-cross {
	font-size: 48px;
	cursor: pointer;
	color: black;
	position: relative;
	left: 7px;
	top: 7px;
}

.modal-grid {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    gap: 10px;
}

@keyframes comeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}


@media (max-width: 1199px) {
	.modal {
		width: 100vw;
		height: 100vw;
		padding: 0;
	}
	.modal-content {
		width: 100vw;
		height: 100vh;
	}
	.modal-show {
		z-index: 1;
	}
}