.card {
	font-family: "Reenie Beanie";
    text-align: center;
    color: white;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0);
}

.card:hover {
	// box-shadow: 0px 4px 0px 0px rgba(255,255,255,1);

}

@media (min-width: 1200px) {
	.card {
		height: 250px;
	}
}