.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Reenie Beanie";
}
.nav-link {
     a {
    color: black;
    text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 375px) {
    
  } 
  @media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
    
  }
  @media (min-width: 1200px) {
    
  }