@import './Characters/Characters';
@import './Navbar/Navbar';
@import './Homepage/Homepage';
@import './Crime/Crime';

.page-header {
    text-align: center;
    font-family: 'Reenie Beanie';
    font-size: 4.2em;
}