@import './page_components/page_components_index';
@import './ui_components/ui_components_index';



.page-header {
    text-align: center;
    font-family: 'Reenie Beanie';
    font-size: 4.2em;
}

@media (min-width: 280px) {
    .page-header {
        font-size: 3.2em;
    }
}
@media (min-width: 320px) {
    .page-header {
        font-size: 3.2em;
        margin: auto;
        padding: 16px 0;
    }
}

@media (min-width: 1200px) {
    .page-header {
        font-size: 4.2em;
        margin: auto;
        padding: 16px 0;
    }
}


@media (min-width: 1920px) {
    .page-header {
        font-size: 4.2em;
    }
}

@media (min-width: 2560px) {
    .page-header {
        font-size: 4.2em;
    }
}
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

@keyframes fromMinusY {
    from {
        transform: translateY(-5%);
    } to {
        transform: translateY(0%);
    }
}

@keyframes containerFadeInAndTranslate {
    from {
        opacity: 0;
        transform: translateY(-50px);
    } 
    
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.container-fade-in {
    animation-name: containerFadeInAndTranslate;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    
}

.container-fade-in-and-translate {
    animation-name: containerFadeInAndTranslate;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease;

}


.from-minus-y {
    animation-name: containerFadeIn;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
}

.no-display {
    display: none;
}