@import './Characters/Characters';
@import './Navbar/Navbar';
@import './Homepage/Homepage';
@import './Crime/Crime';

.page-header {
    text-align: center;
    font-family: 'Reenie Beanie';
    font-size: 4.2em;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

@keyframes fromMinusY {
    from {
        transform: translateY(-5%);
    } to {
        transform: translateY(0%);
    }
}

@keyframes containerFadeInAndTranslate {
    from {
        opacity: 0;
        transform: translateY(-5%);
    } 
    
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.container-fade-in {
    animation-name: containerFadeInAndTranslate;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    
}

.container-fade-in-and-translate {
    animation-name: containerFadeInAndTranslate;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;

}


.from-minus-y {
    animation-name: containerFadeIn;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
}