.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Reenie Beanie";
}

// .nav-links * {

//     transition-property: border-bottom; 
//     border-bottom: 1px solid rgba(0,0,0,0);
// }
.nav-link {
    transform: translateY(0%);
    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
     a {
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition-property: border-bottom;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;

    }
}
.nav-link:hover {
    transform: translateY(5%);
    a:hover {
        transition-property: border-bottom; 
        border-bottom: 1px solid rgba(0,0,0,1);
    }
}
.nav-container {
    width: 100%;
}

@media (min-width: 375px) {
    
  } 
  @media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
    
  }
  @media (min-width: 1200px) {
    
  }