.location-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax($height, auto);
    gap: 10px;
    grid-gap: 10px;
}

.location-card {
    border: 1px solid grey;
    height: 262px;
    font-family: "Reenie Beanie";
    text-align: center;
}

@media (min-width: 375px) {
    .location-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(282px, auto);
        grid-gap: 100px;
        gap: 10px;
    }
}