.character {
  border: 1px solid black;
  font-family: "Reenie Beanie";
  border-radius: 4px;
  text-align: center;
  height: 282px;
  background-color: white;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0);
}

.character:hover {
  box-shadow: 4px 4px 0px 2px black;
}

.check {
  color: green;
}

.cross {
  color: red;
}

.character-icon {
  margin: 0 4px;
  cursor: pointer;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(282px, auto);
  gap: 10px;
}
.character-list a {
  color: black;
  text-decoration: none;
  transition-property: font-size;
  transition-duration: 1s;
}
.character-list a:hover {
  font-size: 1.5em;
}

.character-icon {
  max-height: 150px;
}

@media (min-width: 375px) {
  .character-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(282px, auto);
    gap: 10px;
  }
}
@media (min-width: 576px) {
  .character-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(282px, auto);
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(282px, auto);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(282px, auto);
    gap: 10px;
  }
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Reenie Beanie";
}

.nav-link a {
  color: black;
  text-decoration: none;
}
.nav-link a:hover {
  text-decoration: underline;
}

.homepage-btn {
  border: solid 1px black;
  background: white;
  width: 200px;
  height: 56px;
  color: black;
  font-family: "Reenie Beanie", "Courier New", Courier, monospace;
  font-size: 24px;
  border-radius: 8px;
}

.homepage-btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.homepage-icon {
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.crime {
  display: flex;
}

.page-header {
  text-align: center;
  font-family: "Reenie Beanie";
  font-size: 4.2em;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

@keyframes fromMinusY {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes containerFadeInAndTranslate {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.container-fade-in {
  animation-name: containerFadeInAndTranslate;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

.container-fade-in-and-translate {
  animation-name: containerFadeInAndTranslate;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
}

.from-minus-y {
  animation-name: containerFadeIn;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

body {
  margin: 0;
  font-family: "Courier New", "Courier", "monospace", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
body a {
  color: black;
  text-decoration: none;
}
body p {
  font-family: "Courier Prime", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@-webkit-keyframes fadeinout {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadeinout {
  0%, 100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

.fade-in-1 {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 1s linear forwards;
}

.fade-in-2 {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 2s linear forwards;
}

.fade-in-3 {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 3s linear forwards;
}

.intro-1 {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 18s ease 0s normal forwards 1 fadein;
}

.intro-2 {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 22s ease 0s normal forwards 1 fadein;
}

.intro-3 {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 26s ease 0s normal forwards 1 fadein;
}

.intro-4 {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 30s ease 0s normal forwards 1 fadein;
}

.intro-5 {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 34s ease 0s normal forwards 1 fadein;
}

.intro-6 {
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 38s ease 0s normal forwards 1 fadein;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  text-align: center;
  font-family: "Courier New", cursive;
}

.profile {
  list-style: none;
}

.whodunnit {
  font-family: "Reenie Beanie", cursive;
}

.large {
  font-size: 4.2em;
}

.links {
  color: white;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  margin: auto;
  width: 900px;
}

@media (min-width: 375px) {
  .container {
    margin: auto;
    width: 70%;
  }
}
@media (min-width: 576px) {
  .container {
    margin: auto;
    width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    margin: auto;
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .container {
    margin: auto;
    width: 900px;
  }
}
@media (min-width: 1400px) {
  .avatar {
    width: 100px;
  }
}

/*# sourceMappingURL=App.css.map */
