@import './components/components'; 


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffe9e9;
  font-family: 'Courier New', 'Courier', 'monospace', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #303060;
 
  p {
    font-family: 'Indie Flower', cursive;
    color: black;
  }
  a {
    color: black;
    text-decoration: none;
  }
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.large {
  font-size:  4.2em;
}

.links {
  color: white;
  text-decoration: none;
}




.container {
  margin: auto;
  width: 900px;
}
@media (min-width: 280px) {
    .container {
      margin: auto;
      width: 88vw;
    }
}

@media (min-width: 320px) {
  .container {
    margin: auto;
    width: 90vw;
  //   display: flex;
  //   flex-direction: column;
  }
} 
@media (min-width: 576px) {
  .container {
    margin: auto;
    width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    margin: auto;
    width: 705px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    width: 88%;
  }
 }

@media (min-width: 1200px) {
  .container {
    margin: auto;
    width: 77%;
  }
}
  @media (min-width: 1400px) { 
    .avatar {
      width: 100px;
    }
  }

@media (mid-with: 3840px) {
  .container {
    width: 3700px;
    margin: auto;
  }
}

