.homepage-btn {
    border: solid 1px black;
    background: white;
    width: 200px;
    height: 56px;
    color: black;
    font-family: "Reenie Beanie", 'Courier New', Courier, monospace;
    font-size: 24px;
    border-radius: 8px;
}

.homepage-btn:hover {
    background: black;
    color: white;
    cursor: pointer;

}

.homepage-icon {
    height: 140px;

}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 280px) {

    .button-container {
      display: block;
    }
}

@media (min-width: 320px) {
    .button-container {
        display: block;
    }

    .homepage-btn {
        width: 100%;
        margin: 32px 0px;
    }
    .homepage-icon {
        height: 25vh;
    }

  } 
  @media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
    .button-container {
        display: block;
    }

  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .button-container {
        display: block;
        justify-content: space-evenly;
    }
   }
  
  @media (min-width: 1200px) {
    .button-container {
        display: flex;
        justify-content: space-evenly;
    }
    .homepage-btn {
        width: 200px;
    }
  }
     @media (min-width: 1400px) { 
        .button-container {
            display: flex;
            justify-content: space-evenly;
        }
        .homepage-btn {
            width: 200px;
        }
    }
  