.homepage-btn {
    border: solid 1px black;
    background: white;
    width: 200px;
    height: 56px;
    color: black;
    font-family: "Reenie Beanie", 'Courier New', Courier, monospace;
    font-size: 24px;
    border-radius: 8px;
    transition-property: background-color transform color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}

.homepage-btn:hover {
    transform: translateY(10px);
    background: black;
    color: white;
    cursor: pointer;

}

.homepage-icon {
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 280px) {

    .button-container {
      display: block;
    }

    .homepage-icon {
        width: 250px;
        height: 215px;
    }
}

@media (min-width: 320px) {
    .button-container {
        display: block;
    }

    .homepage-btn {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;
    }
  
  } 
  @media (min-width: 576px) {
    
  }
  
  @media (min-width: 768px) {
    .button-container {
        display: block;
    }

  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .button-container {
        display: block;
        justify-content: space-evenly;
    }
   }
  
  @media (min-width: 1200px) {
    .button-container {
        display: flex;
        justify-content: space-evenly;
    }
    .homepage-btn {
        width: 339px;
        height: 87px;
        font-size: 2em;
    }
    .homepage-icon {
        width: 234px;
        height: 227px;
    }

  }

  @media (min-width: 1920px) {
      .homepage-btn {
        width: 400px;
        height: 97px;
      }
      .homepage-icon {
          width: 300px;
          height: 250px;
      }
  }