.crime {
    display: flex;
    
}

.underline {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.0);
    transition-property: border-bottom;
    transition-timing-function: ease-in;
}

.underline:hover {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
}

